@import "~bulma/sass/utilities/_all"
@import url('https://fonts.googleapis.com/css?family=Roboto')

@import './variables.sass'

@import "~bulma"
@import "~buefy/src/scss/buefy"

nav
  background: $background

html
  background: $background

body
  background: $background
  font-family: 'Roboto', sans-serif

.box
  background: #1E2748

.label
  color: $text
