$background: #151a30;
$background-risen: #1e2748;
$text: #c3c8e5;

$title-color: #daddef;
$subtitle-color: #daddef;
$white: #c3c8e5;
$tabs-link-active-color: $white;
$tabs-link-color: hsl(217, 71%, 53%);
$danger: #db576a;
$primary: #32b9e7;
$widescreen-enabled: true;
$fullhd-enabled: true;
